.banner {
  color: white;
  object-fit: contain;
  height: 105vh;
  position: relative;
}

.banner__contents {
  position: absolute;
  bottom: 16rem;
  margin-left: 60px;
  height: auto;
  display: flex;
  flex-direction: column;
  max-width: 40%;
}

.banner__title {
  font-family: 'Instrument Serif', serif;
  font-size: 5rem;
  font-weight: 400;
  padding-bottom: 0.3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
  text-wrap: balance;
}

.banner__description {
  width: 100%;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  height: auto;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
  margin-bottom: 2rem;
}

.banner__buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.banner--fadeBottom {
  height: 16rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #141414
  );
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .banner__contents {
    margin-left: 20px;
    padding-top: 100px;
    max-width: 80%;
  }

  .banner__title {
    font-size: 3rem;
  }
}
