.more-info-button {
  cursor: pointer;
  color: white;
  background-color: rgba(109, 109, 110, 0.7);
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.3rem;
  padding: 0.8rem 2.5rem;
  font-size: 1rem;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
}

.more-info-button:hover {
  background-color: rgba(109, 109, 110, 0.5);
  transform: scale(1.05);
}
