.trade-now-button {
  cursor: pointer;
  color: black;
  background-color: white;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.3rem;
  padding: 0.8rem 2.5rem;
  font-size: 1rem;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
}

.trade-now-button:hover {
  background-color: rgba(255, 255, 255, 0.75);
  transform: scale(1.05);
}
