.politics {
  padding-top: 100px;
  background-color: #141414;
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

.politics__header {
  margin-bottom: 30px;
}

.politics__header h2 {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 10px;
}

.politics__loading {
  color: #808080;
  font-size: 1rem;
  margin-left: 10px;
  padding: 40px 0;
}

